
.sidebar{
    /* margin: 0px 300px; */
    width: 64px;
    /* width: 220px; */
    height: 750px;
    margin-top: -25px;
    background-color: black;
    /* border: 2px solid red; */
    position: fixed;
    top: 40px;
    /* position: sticky;
    top: -50px; */
    z-index: 2;    
}

/* .stick{
    position: sticky;
} */

/* .sidebar:hover{
    position: fixed;

} */

.sidebar-content{
    width: 100%;
    /* width: 64px; */
    /* background-color: blue; */
    /* background-color: black; */
    height: 100%;
    box-sizing: border-box;
    /* padding: 0 1rem; */
}

.home-a, .sidebar a{
    /* background-color: pink; */
    margin-left: 4px;
    padding: 0 1rem;
    /* background-color: blue; */
    
}

.logo{
    width: 25px;
    height: 20px;
    margin-bottom: .7rem;
}

/* 184*29 pa 1 6 bo 2 */
.add{
    color: white;
    background-color: #206cef;
    width: 75%;
    height: 35px;
    border-radius: 5px;
    /* align-self: center; */
    margin: 0 .5rem;
    margin-bottom: 0.8rem;
}

.add:hover{
    background-color: #206cef4f;
}


.home{
    display: flex;
    flex-direction: column;
}
/* .home a:first-child{
    color: white;
} */


/* 184*29 pa 1 6 bo 2 */
.home a{
    /* width: 90%; */
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 .5rem;

    /* padding: 0.6rem 0; */
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1.7rem;  
}

.home a:hover{
    background-color: #2c2c2c;
    border-radius: 5px;
}

/* .home a i{

    display: grid;
    place-items: center;
} */

.hr{
    margin-top: 0.3rem;
    width: 65%;
}

.second-container{
    height: 375px;
    /* border: 2px solid red; */
    overflow: scroll;
    margin-bottom: 10px;
}

/* to hide scroll bar start */
/* Hide scrollbar for Chrome, Safari and Opera */
.second-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.second-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* end */

.second-container a{
    /* width: 90%; */
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 .5rem;

    /* padding: 0.6rem 0; */
    overflow: hidden;
    /* display: grid;
    grid-template-columns: ; */
    display: flex;
    align-items: center;
    /* gap: 1re; */
    /* flex-direction: row;
    justify-content: start;
    gap: 1.7rem;   */
    
}

.second-container a:hover{
    background-color: #2c2c2c;
    border-radius: 5px;
}


.second-container a .circle{
    width: 5px;
    height: 5px;
    background-color: #EB5757;
    border-radius: 50%;
    align-self: flex-start;
    position: absolute;
    top: -.1rem;
    left: -.2rem;
    /* left: -5rem; */
    /* position: relative;
    left: -5px; */
}

/* .second-container a{
    position: relative;
    border: 2px solid red;
} */

.second-container a .cName{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.second-container a .cName .community-imgs{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    /* position: relative; */
    /* top: -5px; */
    /* padding: 0 1.2rem 0 0; */
}

.second-container a .cName .active{
    width: 0;
    height: 18px;
    background-color: transparent;
}

/* .tooltip{
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: pink;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    padding: 5px 20px;
}

.second-container a:hover .tooltip{
    opacity: 1;
    visibility: visible;
} */

.home a, .second-container a{
    text-decoration: none;
}
.home a span{
    display: flex;
    align-items: center;
}
.home a span, .second-container a span{
    
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
}
.home a , .home a span{
    color: #999;
}

.refer-btn{
    color: white;
    background: linear-gradient(112.27deg, #E580F4 0%, #8280F7 100%);
    width: 75%;
    height: 35px;
    border-radius: 5px;
    /* align-self: center; */
    margin: 0 .5rem;
    margin-bottom: 0.8rem;
}

.refer-btn i{
    font-size: .7rem;
}



/* hover effect */

.sidebar:hover{
    transition: .2s;
    transition-timing-function: ease-in-out;
    width: 220px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
}
.sidebar:hover .add{
    width: 90%;
}

.sidebar:hover .logo{
    margin-left: -8px;
}

.sidebar:hover a{
    gap: 0;
}

.sidebar:hover .hr{
    margin-top: 0.9rem;
    width: 85%;
}

.sidebar:hover .second-container a .cName span{
    width: 100%;
    height: 100%;
}

.sidebar:hover .second-container a .cName{
    gap: 1rem;
}

.sidebar:hover .refer-btn{
    width: 90%;
}

/* hover effect end*/


/* .sec{
    height: 20px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
} */
