* {
    font-family: 'Inter', sans-serif;
}

.header{
    background-color: black;
    color: gray;
    height: 46px;
    padding-left: 17%;
    /* padding-right: 20%; */
    padding-right: 17%;
}

.navbar{
    /* width: 100%; */
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 20%;
    align-content: center;
}


.angle-left{
    font-size: 0.8rem;
    padding: 4px 6px;
    /* background-color: white; */
    border-radius: 3px;
    margin-right: 10px;
}

.back{
    font-size: 13px;
    line-height: 18px;
}

.profile-menu{
    height: 100%;
    /* width: 20%; */
    display: flex;
    align-items: center;
    
}

.bell{
    font-size: 1rem;
    padding: 4px 6px;
    /* background-color: white; */
    border-radius: 3px;
    /* margin-right: 15px; */
}

.profile-photo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-name{
    font-weight: 600;
    color: white;
    font-size: 13px;
    line-height: 18px;
}


