.interactive-mode{
    border: 2px solid gray;
    border-radius: 5px;
    height: 400px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h h"
    "c o"
    "c o";
    /* grid-template-columns: repeat(2, 1fr);
    gap: 1rem; */
    /* background-color: #eee; */
}

.interactive-heading{
    /* border: 2px solid red; */
    text-align: center;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: white;
}
.interactive-heading .heading{
    margin: 0;
}
.interactive-heading .reset-btn{
    width: 60px;
    height: 30px;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.interactive-heading .reset-btn:hover{
    background-color: rgba(0, 0, 0, 0.718);
    /* padding: 0.5rem 0.9rem; */
}


.interactive-code{
    border: 1px solid gray;
    border-bottom: 0px;
    grid-area: c;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fg{
    justify-content: center;
    gap: 1rem;
}

.interactive-code .input {
    height: 2rem;
    width: 85%;
    background-color: #fff;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.2rem solid #ccc;
    border-left-width: 0.4rem;
    color: #111;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: border 0.2s;
    position: relative;
}
  
.interactive-code .input:hover {
    border: 0.2rem solid #aaa;
    border-left-width: 0.4rem;
}
  
.interactive-code .input:focus {
    border: 0.2rem solid #3e8ae0;
    border-left-width: 0.4rem;
}
  
.interactive-code .input::before {
    content: "";
    position: absolute;
    right: -2rem;
    border-left: 0.8rem solid #3e8ae0;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-top: 0.8rem solid transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s;
}
  
.interactive-code .input:focus::before {
    transform: scaleX(1);
}


.interactive-op{
    border: 1px solid gray;
    border-bottom: 0px;
    grid-area: o;
    padding: 2rem 2rem;
}

.interactive-op .codes-op{
    width: 300px;
    height: 200px;
    border: 2px solid blue;
    display: flex;
}

.interactive-op .wrap{
    flex-wrap: wrap;
}

.interactive-op .codes-op .flex{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: rgb(4, 255, 4);
    color: black;
    font-weight: 700;
    display: grid;
    place-content: center;
}

.fl{
    flex-grow: 1;
}

/* .interactive-op .codes-op .flex-grow{
    flex-grow: 1;
} */

.interactive-op .codes-op .flex:hover{
    color: white;
    border: 2px solid black;
}


/* .interactive-code{
    border: 2px solid green;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interactive-code .codes{
    border: 2px solid green;
    padding: 2rem;
}

.interactive-op{
    padding: 1rem;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.interactive-op .opbox{
    border: 4px solid pink;
    padding: 5rem 2rem;
} */



















.main{
    /* background-color: rgb(174, 163, 163); */
    background-color: #171718;
    color: gray;
    /* height: 100vh; */
    padding-left: 18%;
    /* padding-right: 20%; */
    padding-right: 18%;
    position: relative;
    padding-top: 20px;
    /* z-index: -1; */
}

.container{
    /* width: 100%; */
    /* background-color: green; */
    /* height: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 280px;
    /* grid-template-columns: 1fr 30%; */
    align-content: center;
    gap: 1rem;
}

/* content start */

/* .content{
    border: 2px solid red;
    height: 100vh;
} */

.content .content-first-section .content-cover-img{
    width: 670px;
    height: 447px;
    /* border: 2px solid green; */
    background-image: url("/public/flexbox.jpg");
    background-size: cover;
    margin-bottom: 20px;
}

/* .content .content-first-section .content-cover-img img{
    background-size: cover;
} */

/* .content .content-first-section .content-main{
    border: 2px solid green;
} */

.content .content-first-section .content-main .content-info{
    /* border: 2px solid pink; */
    height: 34px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.content .content-first-section .content-main .content-info button{
    width: 79px;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: #4fb9c1;
    background-color: #4ca8af2b;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.content .content-first-section .content-main .content-info .content-social-icons{
    /* display: flex; */
    /* align-self: center; */
    /* margin-left: 10px; */
    display: flex;
    /* margin: 0 auto; */
    margin-left: 230px;
    gap: 0.6rem;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-iconss{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-icon i{
    color: black;
    font-size: 0.6rem;
}
.content .content-first-section .content-main .content-info .content-social-icons .social-iconss i{
    color: gray;
    font-size: 0.8rem;
}

.content .content-first-section .content-main .show-heading{
    color: white;
    font-weight: 900;
    margin-bottom: 15px;
}

.content .content-first-section .content-main .contributors{
    height: 76px;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .content-first-section .content-main .contributors .contributors-pic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .content-first-section .content-main .contributors .contributors-pic a{
    margin: 0;
    padding: 0;
}
.content .content-first-section .content-main .contributors .contributors-pic a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.content .content-first-section .content-main .contributors .like{
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
    /* justify-content: space-around; */
}

.content .content-first-section .content-main .contributors .like .likes{
    color: #EB5757;
}

.content .content-first-section .content-main .contributors .like div i{
    margin-right: 0.3rem;
}

.content .content-first-section .content-main .table-of-content{
    color: white;
    /* border: 2px solid blue; */
    margin-bottom: 30px;
}

.content .content-first-section .content-main .table-of-content div h5{
    font-weight: 100;
    font-size: 0.9rem;
    margin: 0.9rem 0;
    color: gray;
}

.content .content-first-section .content-main .table-of-content div h5:first-child{
    color: white;
}

/* .content .content-first-section .content-main .article{
    height: 5000vh;
    border: 2px solid orangered;
} */

.content .content-first-section .content-main .article .article-para{
    font-size: 18px;
    line-height: 28px;
    color: #d4d4d4;
}

.content .content-first-section .content-main .article .article-h2{
    font-size: 31px;
    line-height: 37px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px darkorchid;
}

.content .content-first-section .content-main .article h3{
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: white;
}

.content .content-first-section .content-main .article .article-img{
    width: 100%;
    height: 300px;
}

.content .content-first-section .content-main .article .note{
    font-weight: bold;
    color: orangered;
}

.content .content-first-section .content-main .article .bold{
    font-weight: bold;
    color: green;
}

.content .content-first-section .content-main .article .code-bg{
    padding: 0.3rem 0.5rem;
    background-color: #d0d0d5;
    color: black;
}


.content .content-first-section .content-main .article .code-snippet{
    color: white;
    font-size: 0.8rem;
    box-sizing: border-box;
    background-color: #232426;
    /* border: 1px solid gray; */
    border-radius: 5px;
    padding: 0.9rem;
    
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection{
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection .fdiv{
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection .fdiv div span{
    margin-right: 0.2rem;
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection .sdiv{
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection .sdiv div span{
    margin-right: 0.2rem;
}

.content .content-first-section .content-main .article .code-snippet .snippet-fsection .sdiv div .gray{
    color: gray;
}

.content .content-first-section .content-main .article .code-snippet .snippet-ssection{
    margin-top: 1rem;
    /* height: 200px; */
}

.content .content-first-section .content-main .article .code-snippet .snippet-ssection img{
    height: 7rem;
}


.content .content-first-section .content-main .article .code-snippet .snippet-ssection .sec,.content .content-first-section .content-main .article .code-snippet .snippet-ssection .thi{
    height: 12rem;
}

.content .content-first-section .content-main .article .code-snippet .snippet-ssection .nin,.content .content-first-section .content-main .article .code-snippet .snippet-ssection .ten{
    height: 9rem;
}
/* 2 3 (9  10)  */





.content .content-first-section .content-main .tags-name{
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.content .content-first-section .content-main .tags-name .tag-names{
    border: 1px solid #202021;
    background-color: #202021;
    border-radius: 5px;
    height: 24px;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .content-first-section .content-main .like{
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
    /* justify-content: space-around; */
}

.content .content-first-section .content-main .like .likes{
    color: #EB5757;
}

.content .content-first-section .content-main .like div i{
    margin-right: 0.3rem;
}

.content .content-first-section .content-main .hr-line{
    height: 1px;
    margin: 20px 0 20px 0;
    border-top: 1px  solid #202021;
}

.content .content-first-section .content-main .comment-profile-view{
    height: 85px;
    padding: 16px 20px 0 20px;
    /* margin-bottom: 200px; */
    /* border: 2px solid blue; */
    cursor: pointer;
    display: grid;
    grid-template-columns: 10% auto;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

.content .content-first-section .content-main .comment-profile-view:hover{
    background-color: rgba(0, 0, 0, 0.095);
}

.content .content-first-section .content-main .comment-profile-view a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid pink; */
}

.content .content-first-section .content-main .comment-profile-view .comment-profile-view-div div{
    display: flex;
    align-items: flex-end;
    gap: 0.6rem;
}

.content .content-first-section .content-main .comment-profile-view .comment-profile-view-div div a{
    text-decoration: none;
}

.content .content-first-section .content-main .comment-profile-view .comment-profile-view-div div a h4, .content .content-first-section .content-main .comment-profile-view .comment-profile-view-div div a h5{
    margin: 0;
}
/* .content .content-first-section .content-main .comment-profile-view .comment-profile-view-div div a{
    margin-top: -0.5rem;
    padding: 0;
} */

.content .content-first-section .content-main .comment-profile-view .name{
    color: white;
    padding: 0px;
    margin: 13px 0 0 0;
    /* margin-left: -1.2rem; */
}
.content .content-first-section .content-main .comment-profile-view .u-name{
    font-weight: 200;
    color: #808080;
    padding: 0px;
    margin: 5px 0 0 0;
    /* margin-left: -1.2rem; */
}

.content .content-first-section .content-main .comment-profile-view .para{
    font-size: 0.9rem;
    color: white;
}

.content .content-first-section .content-main .comment-section{
    margin-bottom: 50px;
    /* border: 2px solid pink; */
}

.content .content-first-section .content-main .comment-section .discussion{
    color: white;
}

.content .content-first-section .content-main .comment-section .comment-box{
    box-sizing: border-box;
    height: 144px;
    border: 1px solid #202021;
    /* border: 2px solid green; */
    border-radius: 5px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .content-first-section .content-main .comment-section .comment-box textarea{
    font-size: 20px;
    min-width: 647px;
    max-width: 647px;
    /* height: 24px; */
    margin: 10px;
    background-color: transparent;
    border: none;
    color: white;
    /* border: 2px solid red; */

}


.content .content-first-section .content-main .comment-section .comment-box textarea::placeholder {
    font: 20px sans-serif;
}

.content .content-first-section .content-main .comment-section .comment-box .styling{
    height: 35px;
    /* border: 2px solid pink; */
    padding: 5px 5px; 
    background-color: #101011;
}
.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons{
    box-sizing: border-box;
    height: 35px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .icons{
    display: flex;
}
.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .icons .style-ic{
    width: 34px;
    height: 35px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .icons .style-ic i{
    color: white;
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .style-btns{
    display: flex;
    gap: 0.4rem;
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .style-btns .style-btn{
    padding: 5px 10px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    
}

.write{
    color: #4595D0;
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .style-btns .style-btn:hover{
    background-color: #202021;
    border-radius: 5px;
}

.content .content-first-section .content-main .comment-section .comment-box .styling .style-icons .style-btns .send-btn{
    width: 74px;
    background-color: transparent;
    border: 1px solid #4595D0;
    border-radius: 5px;
    color: #4595D0;
    font-weight: 700;
}

.content .content-first-section .content-main .last-section{
    height: 780px;
}

.content .content-first-section .content-main .last-section div{
    margin-bottom: 20px;
}

.content .content-first-section .content-main .last-section div h3{
    color: white;
}

.content .content-first-section .content-main .last-section .shows-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 0.65rem;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show{
    width: 327px;
    height: 337px;
    /* border: 2px solid green; */
    border-radius: 5px;
    /* box-sizing: border-box; */
    cursor: pointer;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-img{
    height: 45%;
    margin: 0;
}
.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content{
    background-color: rgba(0, 0, 0, 0.421);
    padding: 6px 8px 0px 8px;
    border-radius: 0 0 5px 5px;
    
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content .div{
    width: 79px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #4fb9c1;
    background-color: #4ca8af2b;
    border: 1px solid #4fb9c1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content h3{
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    padding: 0;
}
.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content h3:hover{
    text-decoration: underline;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content h3 a{
    text-decoration: none;
    color: white;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content p{
    margin: 0 0 7px 0;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content .pc{
    display: flex;
    gap: 0.7rem;
}

.content .content-first-section .content-main .last-section .shows-list .listed-show .listed-show-content .pc img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}











/* content end */


.container-sidebar{
    /* border: 1px solid white; */
    height: 100vh;
    display: grid;
    gap: 1rem;
}

.container-sidebar .intro{
    width: 254px;
    height: 188px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
    border-radius: 5px;
}

.container-sidebar .intro img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-sidebar .intro a{
    text-decoration: none;
}



.container-sidebar .intro .name{
    color: white;
    padding: 0px;
    margin: 13px 0 0 0;
    /* margin-left: -1.2rem; */
}
.container-sidebar .intro .u-name{
    font-weight: 200;
    color: #808080;
    padding: 0px;
    margin: 5px 0 0 0;
    /* margin-left: -1.2rem; */
}

.container-sidebar .intro .para{
    font-size: 0.9rem;
}

.container-sidebar .tags{
    width: 254px;
    height: 156px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    border-radius: 5px;

}

.container-sidebar .tags h3{
    color: white;
    margin: 0 0 15px 0;
}

.container-sidebar .tags .tags-name{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    /* border: 2px solid red; */
}

.container-sidebar .tags .tags-name .tag-names{
    border: 1px solid #202021;
    background-color: #202021;
    border-radius: 5px;
    height: 24px;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sidebar .more-shows{
    width: 254px;
    height: 460px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: -2rem;

}

.container-sidebar .more-shows .p{
    margin: 4px 0 0px 0px;
    color: white;
    font-size: 1.1rem;
}

.container-sidebar .more-shows .shows{
    width: 254px;
    height: 522px;
    margin-top: 8px;
    /* display: grid;
    grid-template-rows: repeat(5,1fr); */

}

.container-sidebar .more-shows .shows .a{
    text-decoration: none;
}



.container-sidebar .more-shows .shows .show{
    width: 254px;
    height: 86px;
    /* border: 1px solid blue; */
    padding: 8px;
    box-sizing: border-box;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.6rem;
}

.container-sidebar .more-shows .shows .show:hover{
    background-color: rgba(0, 0, 0, 0.221);
}

.container-sidebar .more-shows .shows .show img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.show-details{
    /* padding: 4px 0; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 0.2rem;
}

.show-details a{
    text-decoration: none;
}

.show-details a:hover{
    text-decoration: underline;
    color: white;
}

.show-details a h2{
    margin: 0;
    /* margin-left: -1.3rem; */
    font-size: 0.75rem;
    color: rgb(201, 197, 197);
}
.show-details h3{
    margin: 0;
    font-size: 0.8rem;
}

.views{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.show-details .i{
    width: 20px;
    height: 20px;
    /* border: 2px solid green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 189, 0.427);
}

.show-details .i i{
    font-size: 0.75rem;
    color: #4CA9AF;
}
.show-details span{
    padding-top: 4px;
    font-size: 0.8rem;
    color: #808080;
}
