.main{
    /* background-color: rgb(174, 163, 163); */
    background-color: #171718;
    color: gray;
    /* height: 100vh; */
    padding-left: 18%;
    /* padding-right: 20%; */
    padding-right: 18%;
    position: relative;
    padding-top: 20px;
    /* z-index: -1; */
}

.container{
    /* width: 100%; */
    /* background-color: green; */
    /* height: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 280px;
    /* grid-template-columns: 1fr 30%; */
    align-content: center;
    gap: 1rem;
}

/* content start */

.content{
    /* border: 2px solid red; */
    /* height: 100vh; */
}

.content .content-first-section .content-cover-img{
    width: 670px;
    height: 447px;
    /* border: 2px solid green; */
    background-image: url("/public/flexbox.jpg");
    background-size: cover;
    margin-bottom: 20px;
}

/* .content .content-first-section .content-cover-img img{
    background-size: cover;
} */

/* .content .content-first-section .content-main{
    border: 2px solid green;
} */

.content .content-first-section .content-main .content-info{
    /* border: 2px solid pink; */
    height: 34px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.content .content-first-section .content-main .content-info button{
    width: 79px;
    height: 34px;
    border: none;
    border-radius: 5px;
    color: #4fb9c1;
    background-color: #4ca8af2b;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.content .content-first-section .content-main .content-info .content-social-icons{
    /* display: flex; */
    /* align-self: center; */
    /* margin-left: 10px; */
    display: flex;
    /* margin: 0 auto; */
    margin-left: 230px;
    gap: 0.6rem;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-iconss{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-first-section .content-main .content-info .content-social-icons .social-icon i{
    color: black;
    font-size: 0.6rem;
}
.content .content-first-section .content-main .content-info .content-social-icons .social-iconss i{
    color: gray;
    font-size: 0.8rem;
}

.content .content-first-section .content-main .show-heading{
    color: white;
    font-weight: 900;
    margin-bottom: 15px;
}

.content .content-first-section .content-main .contributors{
    height: 76px;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .content-first-section .content-main .contributors .contributors-pic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .content-first-section .content-main .contributors .contributors-pic a{
    margin: 0;
    padding: 0;
}
.content .content-first-section .content-main .contributors .contributors-pic a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.content .content-first-section .content-main .contributors .like{
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
    /* justify-content: space-around; */
}

.content .content-first-section .content-main .contributors .like .likes{
    color: #EB5757;
}

.content .content-first-section .content-main .contributors .like div i{
    margin-right: 0.3rem;
}

.content .content-first-section .content-main .table-of-content{
    border: 2px solid blue;
}

/* content end */


.container-sidebar{
    /* border: 1px solid white; */
    height: 100vh;
    display: grid;
    gap: 1rem;
}

.container-sidebar .intro{
    width: 254px;
    height: 188px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
    border-radius: 5px;
}

.container-sidebar .intro img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-sidebar .intro a{
    text-decoration: none;
}



.container-sidebar .intro .name{
    color: white;
    padding: 0px;
    margin: 13px 0 0 0;
    margin-left: -1.2rem;
}
.container-sidebar .intro .u-name{
    font-weight: 200;
    color: #808080;
    padding: 0px;
    margin: 5px 0 0 0;
    margin-left: -1.2rem;
}

.container-sidebar .intro .para{
    font-size: 0.9rem;
}

.container-sidebar .tags{
    width: 254px;
    height: 156px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    border-radius: 5px;

}

.container-sidebar .tags h3{
    color: white;
    margin: 0 0 15px 0;
}

.container-sidebar .tags .tags-name{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    /* border: 2px solid red; */
}

.container-sidebar .tags .tags-name .tag-name{
    border: 1px solid #202021;
    background-color: #202021;
    border-radius: 5px;
    height: 24px;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sidebar .more-shows{
    width: 254px;
    height: 520px;
    padding: 12px;
    /* border: 1px solid purple; */
    background-color: #1D1D1E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: -2rem;

}

.container-sidebar .more-shows .p{
    margin: 4px 0 0px 0px;
    color: white;
    font-size: 1.1rem;
}

.container-sidebar .more-shows .shows{
    width: 254px;
    height: 522px;
    margin-top: -5px;
    /* display: grid; */
    /* grid-template-rows: repeat(5,1fr); */

}

.container-sidebar .more-shows .shows .a{
    text-decoration: none;
}



.container-sidebar .more-shows .shows .show{
    width: 254px;
    height: 86px;
    /* border: 1px solid blue; */
    padding: 8px;
    box-sizing: border-box;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.6rem;
}

.container-sidebar .more-shows .shows .show:hover{
    background-color: rgba(0, 0, 0, 0.221);
}

.container-sidebar .more-shows .shows .show img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.show-details{
    /* padding: 4px 0; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 0.2rem;
}

.show-details a{
    text-decoration: none;
}

.show-details a:hover{
    text-decoration: underline;
    color: white;
}

.show-details a h2{
    margin: 0;
    margin-left: -1.3rem;
    font-size: 0.75rem;
    color: rgb(201, 197, 197);
}
.show-details h3{
    margin: 0;
    font-size: 0.8rem;
}

.views{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.show-details .i{
    width: 20px;
    height: 20px;
    /* border: 2px solid green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 189, 0.427);
}

.show-details .i i{
    font-size: 0.75rem;
    color: #4CA9AF;
}
.show-details span{
    padding-top: 4px;
    font-size: 0.8rem;
    color: #808080;
}
